_posts
.guid
node_modules/
yarn.lock
#package-lock.json

!assets/adblock-notify

# olds and backups
*-old
*-backup
tmp-*
tmp/
temp/
yarn.lock
package-lock.json
/.yarn/
/.yarnrc.yml

# chimeraland
# /chimeraland/attendants
# /chimeraland/monsters
# /chimeraland/materials
# /chimeraland/recipes
# /chimeraland/scenic-spot