<!--<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2974518380815858"
  crossorigin="anonymous"></script>-->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0168582118085122"
  crossorigin="anonymous"></script>
<style>
  /* fix index title overload the body width */
  a.post-title-link {
    max-width: 100%;
  }
</style>
