<ul itemscope itemtype="https://schema.org/ItemList" id="sidebar-widget">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="https://webmanajemen.com/page/moment-timezone.html">
    <span itemprop="name">Moment Timezone Playground <small>(moment-timezone)</small></span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="https://www.webmanajemen.com/page/bot-detect">
    <span itemprop="name">Is Iam Bot? <small>(selenium checker)</small></span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="https://www.webmanajemen.com/chimeraland/blacklist-player.html">
    <span itemprop="name">Chimeraland Scammer List</span></a>
    <meta itemprop="position" content="3" />
  </li>
</ul>
<style>
  #sidebar-widget a {
    text-align: left;
    font-size: 15px;
  }
</style>
